/*AD COLUMN*/

.ad-container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  text-align: center;
  margin: 20px 30px 20px 5px; /* Center the ad container */
  padding: 15px;
  max-width: 300px;
}

.ad-image {
  width: 100%;
  height: auto;
}

.ad-title {
  font-size: 24px;
  color: #333;
  margin: 15px 0;
}

.ad-description {
  font-size: 16px;
  color: #666;
  margin: 10px 0;
}

.ad-button {
  display: inline-block;
  padding: 10px 20px;
  margin: 15px 0;
  background-color: #d8780a;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.ad-button:hover {
  background-color: #ffffff;
  color: black;
  font-weight: bold;
}