/* Registered users */
.actions-column {
    width: 230px;
    text-align: center;
}

.button_EDIT {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3c7c28;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin-right: 25px;
    margin-left: 1px;
}

.button_EDIT:hover {
    background-color: #4f9834;
}

.button_EDIT:active {
    background-color: #2d5f1f;
}

.button_DELETE {
    display: inline-block;
    padding: 10px 20px;
    background-color: #1e1e1e;
    color: white;
    text-align: center;
    text-decoration: none; /* Remove underline */
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.button_DELETE:hover {
    background-color: #1b181c;
}

.button_DELETE:active {
    background-color: #1b181c;
}

.button-delete-yes {
    display: inline-block;
    font-family: 'Mojang', sans-serif;
    background-color: #772323;
    text-decoration: none;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    width: 150px;
    cursor: pointer;
    text-align: center;
    margin: 10px 115px 10px 115px;
    font-size: 18px;
    transition: background-color 0.3s, transform 0.2s;
}

.button-delete-yes:hover {
    background-color: white;
    color: #641c1c;
}    

.button-delete-yes:active {
    background-color: #5f1f1f;
}

.button-delete-no {
    display: inline-block;
    font-family: 'Mojang', sans-serif;
    background-color: #367723;
    text-decoration: none;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    width: 150px;
    cursor: pointer;
    text-align: center;
    margin: 10px 115px 10px 115px;
    font-size: 18px;
    transition: background-color 0.3s, transform 0.2s;
}

.button-delete-no:hover {
    background-color: white;
    color: #2a641c;
}    

.button-delete-no:active {
    background-color: #2d5f1f;
}


.wrapper-edit {
    display: flex;
    flex-direction: column;
    height: 85vh;
    align-items: center;
    justify-content: center;
}

.main-content-edit {
    flex: 1;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}


/*FOR EDIT PAGE*/
.register-button:hover {
    background-color: white;
    color: #3c7c28;
    font-weight: bold;
    transform: scale(1.00);
}

.edit-form p {
    margin-bottom: 15px;
}

.label {
    font-weight: bold;
    color: #3c7c28;
}

.input-text {
    font-family: 'Segoe UI', sans-serif;
    width: 96%;
    padding: 10px;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s;
}

.input-text:focus {
    border-color: #3c7c28;
    outline: none;
}

/* Submit button styling */
.update-button {
    font-family: 'Minecraft', sans-serif;
    width: 100%;
    padding: 13px;
    background-color: #3c7c28;
    color: white;
    font-size: 17px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.update-button:hover {
    background-color: #4f9834;
}

.update-button:active {
    background-color: #2d5f1f;
}

/* Go Back button styling */
.go-back-button {
    font-family: 'Mojang', sans-serif;
    display: inline-block;
    padding: 10px 20px;
    background-color: #3c7c28;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 17px;
    transition: background-color 0.3s;
}

.go-back-button:hover {
    background-color: #4f9834;
}

.go-back-button:active {
    background-color: #2d5f1f;
}

/* Message styling for user feedback */
.message {
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
    font-weight: bold;
    text-align: center;
    font-family: "Segoe UI";
}

.message-yehey {
    background-color: #155724;
    color: white;
}

.message-error {
    background-color: #721c24;
    color: white;
}