/* Log In PAGE */
.form-title {
    color: white;
    text-align: center;
    margin-bottom: 50px;    
    font-size: 50px;
    font-family: 'Minecraft', sans-serif;
}

.form-label {
    color: "white";
    font-family: 'Mojang', sans-serif;
    margin-top: 50px;    
}

.container {
    max-width: 400px;
    margin: 190px auto;
    padding: 20px;
    background-color: #1e1e1e;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.input-field {
    font-family: 'Segoe UI', sans-serif;
    font-size: 14px;
    width: 94%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    color: black;
    border-radius: 4px;
}

.error {
    color: rgb(228, 19, 19);
    margin-bottom: 2px;
}

.submit-button {
    display: inline-block;
    font-family: 'Mojang', sans-serif;
    background-color: #367723;
    text-decoration: none;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    width: 150px;
    cursor: pointer;
    text-align: center;
    margin: 10px 115px 10px 115px;
    font-size: 18px;
    transition: background-color 0.3s, transform 0.2s;
}
  
.submit-button:hover {
    background-color: white;
    color: #2a641c;
}
  
.register-box {
      padding: 10px;
      background-color: "#1e1e1e";
      max-width: 400px;
      margin: 9px auto;
}